
.slider-frame {
    width: 100%;
    overflow: hidden;
  }
  
  .slide-images {
    display: flex;
    transition: transform 1.5s ease-in-out;
  }
  
  .img-container {
    flex: 0 0 100%;
  }
  
  .img-container img {
    width: 50%;
  }